.fr-root {
  text-align: center;
  margin-top: 1rem;
}

.fr-container {
  position: relative;    
  display: inline-block; 
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  pointer-events: none;
}

